<div class="row">
  <div class="col-sm-12">
    <textarea cols="50" rows="4"></textarea>
  </div>
  <div class="col-sm-6">
    <app-medium-grid></app-medium-grid>
  </div>
  <div class="col-sm-6">
    <app-medium-grid></app-medium-grid>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <app-small-grid></app-small-grid>
  </div>
  <div class="col-sm-6">
    <app-small-grid></app-small-grid>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-medium-treegrid></app-medium-treegrid>
  </div>
</div>
