<div class="container">
  <div class="row">
    <div class="col-sm-12 d-flex align-items-center pb-3 pt-3">
      <div class="btn-group" role="group" aria-label="Pages">
        <button type="button" class="btn btn-secondary" (click)="selection = 1">Big Page</button>
        <button type="button" class="btn btn-secondary" (click)="selection = 2">Bigger Page</button>
      </div>
    </div>
  </div>
  <app-first-page *ngIf="selection==1"></app-first-page>
  <app-second-page *ngIf="selection==2"></app-second-page>
</div>
